@using StockManagement.Domain

@if (ItemStatus == ItemStatus.INSTOCK)
{
    <i class="oi oi-circle-check text-success"></i>
}
else if (ItemStatus == ItemStatus.STOLEN)
{
    <span class="text-danger">Gestolen</span>
}
else if (ItemStatus == ItemStatus.INACTIVE)
{
    <span class="text-danger">End-of-life</span>
}
else if (ItemStatus == ItemStatus.DEFECTIVE)
{
    <span class="text-danger">Defect</span>
}
else
{
    <i class="oi oi-circle-x text-danger"></i>
}

@code {
    [Parameter]
    public ItemStatus ItemStatus { get; set; }
}
