@inherits QuaggaScannerBase
@page "/qScanner"

    <div class="videoWrapper">
        <div id="interactive" class="viewport"></div>
    </div>

<div id="result_strip" class="container-fluid">
    <ul class="thumbnails"></ul>
    <ul class="collector"></ul>
</div>