@inherits QuaggaScannerBase
@page "/qScanner"
<input class="form-control" @bind="_code" type="text" id="codeField" />
<section id="quaggaContainer" class="container">

    <div id="interactive" class="viewport"></div>
    <div id="result_strip" class="container-fluid">
        <ul class="thumbnails"></ul>
        <ul class="collector"></ul>
    </div>
    <div class="controls">
        <fieldset class="reader-config-group">-
            <label style="display: none">
                <span>Zoom</span>
                <select name="settings_zoom"></select>
            </label>
        </fieldset>
    </div>

</section>
