@inherits QuaggaScannerBase
@page "/qScanner"

<section id="quaggaContainer" class="container">
    
    <div id="interactive" class="viewport"></div>
    <div id="result_strip" class="container-fluid">
        <ul class="thumbnails"></ul>
        <ul class="collector"></ul>
    </div>

</section>
