@inherits ScannerBase

<div class="form-group">
    <input class="form-control" @bind="_code" @ref="result" type="text" id="result" />
</div>

    <video class="embed-responsive embed-responsive-item" @ref="video" id="video"></video>

<div class="form-group" @ref="sourceSelectPanel" id="sourceSelectPanel">
    <select class="form-control" @ref="sourceSelect" id="sourceSelect">
    </select>
</div>

@code {

}
