@inherits UserSelectBoxBase

@page "/calendars"

<div class="form-group">
    <label>Gebruiker</label>
    <select class="form-control" @bind="@UserId">
        <option value="" hidden selected>Kies een gebruiker</option>
        @foreach (var user in
       _colGraphUsers.OrderBy(x => x.DisplayName))
        {
            <option value="@user.Id">
                @user.DisplayName
            </option>
        }
    </select>
</div>


@code {

}
