@page "/dialog"
@inject IModalService ModalService

<p>Bent u zeker van deze actie?</p>
<div>
    <button class="btn btn-primary">Ja</button>
    <button class="btn btn-secondary">Annuleer</button>
</div>


@code {


    protected void Ok()
    {
        ModalService.Close();
    }

    protected void Cancer()
    {
        ModalService.Cancel();
    }

}
