@using StockManagement.Domain
@using StockManagement.Domain.IRepositories
@inject IModalService ModalService
@inject IItemRepository Repository
@inject IToastService ToastService
<p>Ben je zeker van deze actie?</p>
<div>
    <button @onclick="Ok" class="btn btn-primary">Ja</button>
    <button @onclick="Cancel" class="btn btn-secondary">Annuleer</button>
</div>


@code {

    [CascadingParameter]
    private BlazoredModalInstance BlazoredModal { get; set; }

    protected void Ok()
    {

        BlazoredModal.Close();
    }

    protected void Cancel()
    {
        BlazoredModal.Cancel();
    }

}
