@using StockManagement.Domain
@using StockManagement.Domain.IRepositories
@inject IModalService ModalService
@inject IItemRepository Repository
@inject IToastService ToastService
<p>Bent u zeker van deze actie?</p>
<div>
    <button @onclick="Ok" class="btn btn-primary">Ja</button>
    <button @onclick="Cancel" class="btn btn-secondary">Annuleer</button>
</div>


@code {

    protected void Ok()
    {

        ModalService.Close();
    }

    protected void Cancel()
    {
        ModalService.Cancel();
    }

}
