@inherits CategoryFormBase
@page "/categorie"
@page "/categorie/{id:int}"
@using StockManagement.Pages.ReuseableComponents
<h3>Nieuwe Categorie</h3>
<EditForm EditContext="@_editContext" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <FileUploadComponent @ref="_fileUpload" Container="categories" />
    </div>
    <div class="form-group">
        <label for="category">Categorienaam</label>
        <InputText @bind-Value="@_category.CategoryName" type="text" class="form-control" id="category" placeholder="Categorienaam" />
    </div>
    <div class="form-group">
        @if (Id == null)
        {
            <button type="submit" class="btn btn-primary">Voeg toe</button>
        }
        else
        {
            <button type="submit" class="btn btn-primary">Update</button>
        }

        <button @onclick="Back" class="btn btn-secondary">Terug</button>
    </div>
</EditForm>


@if (_submitFail)
{
    <p class="text-danger">Ongeldige invoergegevens</p>
}

@code {


}
