@inherits ProductScannerBase
@using StockManagement.Pages.ReuseableComponents
@page "/productscanner"

<h3>ProductScanner</h3>

<h1 class="title">Scan nieuw of bestaand product</h1>

<Scanner @ref="_scanner"/>

<button class="btn btn-primary" @onclick="Submit">Geef in</button>

@code {

}
