@inherits ProductScannerBase
@using StockManagement.Pages.ReuseableComponents
@page "/productscanner"

<a href="/beheer" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
<div class="btn-group">
    <button class="btn btn-primary" @onclick="Submit">Geef in</button>
    <button class="btn btn-secondary" id="resetButton">Reset</button>
    <button class="btn btn-info float-right" @onclick="SwitchScanner">
        @if (_quagga)
        {
            @("ZXing")
        }
        else
        {
            @("Quagga")
        }
    </button>
</div>

@if (_quagga)
{
    <QuaggaScanner @ref="_scanner" />
}
else
{
    <Scanner Kind="Serienummer" @ref="_scanner" />
}

@code {

}
