@inherits ProductScannerBase

@page "/productscanner"
@using StockManagement.Domain


<h3>ProductScanner</h3>

<h1 class="title">Scan nieuw of bestaand product</h1>

<div class="form-group">
    <button class="btn btn-primary" @ref="startButton" id="startButton">Start</button>
    <button class="btn btn-secondary" @ref="resetButton" id="resetButton">Reset</button>
</div>

<div>
    <video class="embed-responsive-item" @ref="video" id="video"></video>
</div>



<div class="form-group" @ref="sourceSelectPanel" id="sourceSelectPanel">
    <label for="sourceSelect">Verander videobron</label>
    <select class="form-control" @ref="sourceSelect" id="sourceSelect">
    </select>
</div>
<div class="form-group">
    <label for="result">Productnummer</label>
    <input class="form-control" @bind="_productnr" @ref="result" type="text" id="result" />
</div>
<button class="btn btn-primary" @onclick="Submit">Geef in</button>



@code {


}
