@inherits BulkItemInBase

@page "/scanner/bulk/"

@using StockManagement.Pages.ReuseableComponents
@using StockManagement.Domain
<h3>Plaats bulk in stock</h3>

<EditForm EditContext="_editContext" OnSubmit="Submit">
    <DataAnnotationsValidator />

    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" class="form-control" value="@_selectedCategory" @onchange="FetchProducts">
            <option value="" selected hidden>Kies een categorie</option>

            @if (_categories != null)
            {
                @foreach (Category cat in _categories)
                {
                    <option value=@cat.Id>@cat.CategoryName</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="product">Product</label>
        <select id="product" class="form-control" @bind="_selectedProduct">
            <option value="" selected hidden>Kies een product</option>
            @if (_products != null)
            {
                @foreach (Product product in _products)
                {
                    <option value=@product.Id>@product.Description</option>
                }
            }
        </select>
    </div>

    <div class="form-group">
        <label for="supplier">Leverancier</label>
        <select id="supplier" class="form-control" @bind="_selectedSupplier">
            <option value="" selected hidden>Kies een leverancier</option>
            @if (_suppliers != null)
            {
                @foreach (Supplier supplier in _suppliers)
                {
                    <option value=@supplier.Id>@supplier.SupplierName</option>
                }
            }
        </select>
    </div>
    <div class="form-group">
        <label for="deliverydate">Leverdatum</label>
        <InputDate class="form-control" @bind-Value="_item.DeliveryDate" />
    </div>
    <div class="form-group">
        <label for="invoicedate">Factuurdatum</label>
        <InputDate class="form-control" @bind-Value="_item.InvoiceDate" />
    </div>
    <label>Serienummer</label>
    <QuaggaScanner @ref="_scanner" />
    <ValidationSummary />
    <button class="btn btn-outline-primary w-100"><i class="oi oi-arrow-bottom"></i>Plaats<i class="oi oi-arrow-bottom"></i></button>
</EditForm>
