@inherits ItemScannerBase

@page "/scanner/{method}"
@using StockManagement.Pages.ReuseableComponents

@if (Method == "in")
{
    <h1 class="title">Plaats in stock</h1>
}
else if (Method == "out")
{
    <h1 class="title">Haal uit stock</h1>
}

<Scanner @ref="_scanner"/>
@if (_invalidSerialNr)
{
    <p class="text-danger">Dit item bestaat niet.</p>
}

@if (_notInStock)
{
    <p class="text-danger">Dit item is niet in stock.</p>
}
<button class="btn btn-primary" @onclick="Submit">Geef in</button>




@if (Method == "in")
{
    <button class="btn btn-secondary" @onclick="Skip">Sla over</button>

}

@code {

}
