@inherits ItemScannerBase

@page "/scanner/{method}"
@using StockManagement.Pages.ReuseableComponents

<div class="btn-group">
    <button class="btn btn-primary" @onclick="Submit">Geef in</button>

    @if (Method == "in")
    {
        <button class="btn btn-warning" @onclick="Skip">Sla over</button>
    }
</div>

<QuaggaScanner @ref="_scanner"/>

