@inherits ItemFormOutBase
@using StockManagement.Pages.ReuseableComponents
@page "/itemform/out/{serialnr}"
    <a href="/scanner/out" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
<h1 class="d-inline">Haal item uit stock</h1>

<EditForm EditContext="@_editContext" OnValidSubmit="Submit">
    <div class="form-group">
        <label for="serialnr">Serienummer</label>
        <input class="form-control" type="text" @bind="SerialNr" />
    </div>
    <UserSearchBox @ref="_userSelect" />

    @if (_submitFail)
    {
        <p class="text-danger">Ongeldige invoergegevens</p>
    }
    <button class="btn btn-primary" type="submit">Haal uit</button>
</EditForm>

@code {

}