@inherits ItemScannerBase

@page "/scanner/{method}"
@using StockManagement.Domain

@if (Method == "in")
{
    <h1 class="title">Plaats in stock</h1>
}
else if (Method == "out")
{
    <h1 class="title">Haal uit stock</h1>
}

<div class="form-group">
    <button class="btn btn-secondary" @ref="resetButton" id="resetButton">Reset</button>
</div>
 
<div>
    <video class=" w-50 embed-responsive-item embed-responsive" @ref="video" id="video"></video>
</div>

<div class="form-group" @ref="sourceSelectPanel" id="sourceSelectPanel">
    <label for="sourceSelect">Verander videobron</label>
    <select class="form-control" @ref="sourceSelect" id="sourceSelect">
    </select>
</div>
<div class="form-group">
    <label for="result">Serienummer</label>
    <input class="form-control" @bind="_serialnr" @ref="result" type="text" id="result" />
</div>
@if (_invalidSerialNr)
{
    <p class="text-danger">Dit item bestaat niet.</p>
}

@if (_notInStock)
{
    <p class="text-danger">Dit item is niet in stock.</p>
}
<button class="btn btn-primary" @onclick="Submit">Geef in</button>




@if (Method == "in")
{
    <button class="btn btn-secondary" @onclick="Skip">Sla over</button>

}

@code {

}
