@inherits ItemScannerBase

@page "/scanner/{method}"
@using StockManagement.Pages.ReuseableComponents

    <div class="form-group">
        <button class="btn btn-primary" @onclick="Submit">Geef in</button>
        <button class="btn btn-secondary" @ref="resetButton" id="resetButton">Reset</button>
        @if (Method == "in")
        {
            <button class="btn btn-outline-warning" @onclick="Skip">Sla over</button>
        }
    </div>
@if (_invalidSerialNr)
{
    <p class="text-danger">Dit item bestaat niet.</p>
}

@if (_notInStock)
{
    <p class="text-danger">Dit item is niet in stock.</p>
}

<Scanner Kind="Serienummer" @ref="_scanner" />

@code {

}
