@inherits UpdateSuccesBase
@page "/updatesucces/{method}/{id:int}"

<h3>Succes</h3>

<h1>De lijst is geüpdate</h1>
@if (Method == "in")
{
    <p>Er werd een item toegevoegd.</p>
}
else if (Method == "out")
{
    <p>Er werd een item verwijderd.</p>
}
<p>Dit product heeft nog @_amountInStock aantal items in stock</p>

@if (Method == "in")
{
    <button class="btn btn-primary" @onclick="Add">Item in stock plaatsen</button>
}
else if (Method == "out")
{
    <button class="btn btn-primary" @onclick="Remove">Item uit stock halen</button>
}


<button class="btn btn-secondary">Terug naar hooftmenu</button>

@code {

}
