@inherits UpdateSuccesBase
@page "/updatesucces/{method}/{id:int}"

<h3>Succes</h3>

@if (Method == "in")
{
    <p>Er werd een item toegevoegd.</p>
}
else if (Method == "out")
{
    <p>Er werd een item verwijderd.</p>
}
<p>Dit product heeft nog @_amountInStock aantal items in stock</p>
<div class="btn-group">
    <a href="scanner/in" class="btn btn-info"><span class="oi oi-arrow-bottom" aria-hidden="true"></span> In</a>
    <a href="scanner/out" class="btn btn-info"><span class="oi oi-arrow-top" aria-hidden="true"></span> Out</a>
    <a href="overzicht" class="btn btn-info"><span class="oi oi-list-rich" aria-hidden="true"></span> Overzicht</a>
</div>

@code {

}
