@page "/q"
@inject IJSRuntime JSRuntime
    <section id="quaggaContainer" class="container">
        <input class="form-control" @bind="_code" @ref="codeField" type="text" id="codeField" />
        <div id="interactive" class="viewport" @ref="interactive"></div>

        <div id="result_strip" @ref="result_strip">
            <ul class="thumbnails" @ref="thumbnails"></ul>
            <ul class="collector" @ref="collector"></ul>
        </div>

        <div class="controls">
            <fieldset class="input-group">
                <button id="stop" @ref="stop">Stop</button>
            </fieldset>
            <fieldset class="reader-config-group">
                <label>
                    <span>Barcode-Type</span>
                    <select name="decoder_readers" @ref="decoder_readers">
                        <option value="code_128" selected="selected">Code 128</option>
                        <option value="code_39">Code 39</option>
                        <option value="code_39_vin">Code 39 VIN</option>
                        <option value="ean">EAN</option>
                        <option value="ean_extended">EAN-extended</option>
                        <option value="ean_8">EAN-8</option>
                        <option value="upc">UPC</option>
                        <option value="upc_e">UPC-E</option>
                        <option value="codabar">Codabar</option>
                        <option value="i2of5">Interleaved 2 of 5</option>
                        <option value="2of5">Standard 2 of 5</option>
                        <option value="code_93">Code 93</option>
                    </select>
                </label>
                <label>
                    <span>Resolution (width)</span>
                    <select name="input-stream_constraints" @ref="input_stream_constraints">
                        <option value="320x240">320px</option>
                        <option selected="selected" value="640x480">640px</option>
                        <option value="800x600">800px</option>
                        <option value="1280x720">1280px</option>
                        <option value="1600x960">1600px</option>
                        <option value="1920x1080">1920px</option>
                    </select>
                </label>
                <label>
                    <span>Patch-Size</span>
                    <select name="locator_patch-size" @ref="locator_patch_size">
                        <option value="x-small">x-small</option>
                        <option value="small">small</option>
                        <option selected="selected" value="medium">medium</option>
                        <option value="large">large</option>
                        <option value="x-large">x-large</option>
                    </select>
                </label>
                <label>
                    <span>Half-Sample</span>
                    <input type="checkbox" checked="checked" name="locator_half_sample" @ref="locator_half_sample" />
                </label>
                <label>
                    <span>Workers</span>
                    <select name="numOfWorkers" @ref="numOfWorkers">
                        <option value="0">0</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option selected="selected" value="4">4</option>
                        <option value="8">8</option>
                    </select>
                </label>
                <label>
                    <span>Camera</span>
                    <select name="input-stream_constraints" id="deviceSelection" @ref="deviceSelection">
                    </select>
                </label>
                <label style="display: none">
                    <span>Zoom</span>
                    <select name="settings_zoom" @ref="settings_zoom"></select>
                </label>
                <label style="display: none">
                    <span>Torch</span>
                    <input type="checkbox" name="settings_torch" @ref="settings_torch" />
                </label>
            </fieldset>
        </div>

    </section>

@code {
    public ElementReference stop { get; set; }
    public ElementReference interactive { get; set; }
    public ElementReference thumbnails { get; set; }
    public ElementReference collector { get; set; }
    public ElementReference result_strip { get; set; }
    public ElementReference settings_torch { get; set; }
    public ElementReference settings_zoom { get; set; }
    public ElementReference deviceSelection { get; set; }
    public ElementReference numOfWorkers { get; set; }
    public ElementReference locator_half_sample { get; set; }
    public ElementReference locator_patch_size { get; set; }
    public ElementReference input_stream_constraints { get; set; }
    public ElementReference decoder_readers { get; set; }
    public ElementReference codeField { get; set; }

    protected string _code;
    protected override async Task OnAfterRenderAsync(bool render)
    {
        if (render)
            await JSRuntime.InvokeVoidAsync("JsFunctions.quaggaExample");
    }
}
