@inherits MainLayoutBase
@if (authorized)
{
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4 auth">
            @Body
        </div>

    </div>
    <BlazoredToasts />
    <BlazoredModal />
}
else
{
    <div class="main">
        <div class="content px-4">
            <StockManagement.Pages.AccessDenied/>
        </div>
    </div>
}


