@inherits ItemHistoryBase

@using StockManagement.Domain;
@using StockManagement.Pages.ReuseableComponents
@using StockManagement.Pages.OverviewPages
@page "/itemhistoriek/{id:int}"
<a href="/itemlijst/@(_item.Product.Id)" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
<h4 class="d-inline">Upload foto</h4>
<div class="form-group">

    <FileUploadComponent @ref="_fileUpload" Container="@("item"+Id)" />
    <div>
        <button class="btn btn-primary" @onclick="Upload">Upload</button>
        <button class="btn btn-secondary" @onclick="Clear">Clear</button>
    </div>
</div>
<BlobsComponent Container="@("item"+Id)" @ref="_blobsComponent" />
<h3>Gebruikshistoriek</h3>

<div class="container">
    @if (_itemusers != null)
    {
        <div class="row">
            @foreach (ItemUser iu in _itemusers)
            {
                <div class="col-md-4 mb-2">
                    <ItemHistoryComponent ItemUser=iu />
                </div>
            }
        </div>

    }
    else
    {
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    }
</div>

