@inherits ItemListBase

@page "/itemlijst/{id:int}"
@page "/{route}/itemlijst/{id:int}"
@page "/leverancier/itemlijst/{SupplierId:int}"
@using StockManagement.Domain

@if (_supplier != null || _product != null)
{
    if (_supplier == null)
    {
        @if (Route == "beheer")
        {
            <a href="/beheer/productlijst/@(_product.Category.Id)" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
        }
        else
        {
            <a href="/productlijst/@(_product.Category.Id)" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
        }
        <h3 class="d-inline">@_product.Description</h3>
    }
    else
    {
        <a href="/beheer" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
        <h3 class="d-inline">@_supplier.SupplierName</h3>
    }

    @if (_items != null)
    {
        <div class="row">
            @foreach (Item item in _items)
            {
                <div class="col-lg-4">
                    <div class="btn-group btn-group-sm">
                        <a href="/itemhistoriek/@(item.Id)" class="btn btn-sm btn-primary"><i class="oi oi-magnifying-glass"></i></a>
                        <a href="/itemform/in/id/@(item.Id)" class="btn btn-sm btn-secondary"><i class="oi oi-pencil"></i></a>
                        <button @onclick="@(() => DeleteItem(item))" class="btn btn-sm btn-danger"><i class="oi oi-trash"></i></button>
                    </div>
                    <ItemComponent Item="item" />
                </div>
            }
        </div>
    }
}