@inherits ItemHistoryBase

@using StockManagement.Domain;

@page "/itemhistoriek/{id:int}"

<h3>Gebruikshistoriek</h3>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Gebruiker</th>
            <th>Toegewezen door</th>
            <th>Van</th>
            <th>Tot</th>
        </tr>
    </thead>
    <tbody>
        @if (_itemusers != null)
        {
            @foreach (ItemUser iu in _itemusers)
            {
                <tr>
                    <td>@iu.User.Mail</td>
                    <td>@iu.AssignedBy.Mail</td>
                    <td>@iu.FromDate</td>
                    <td>@iu.ToDate</td>
                </tr>
            }
        }
    </tbody>
</table>

@code {


}
