@inherits OverviewBase

@page "/overzicht"

@using StockManagement.Domain

<h3>Overzicht</h3>

<div class="row">
    @if (_categories != null)
    {
        <div class="col-6 col-md-4 col-lg-3">
            <figure class="figure">
                <img @onclick="@(() => GetUsers())" class="img-fluid border rounded" src="/images/categories/users.jpg" />
                <figcaption class="figure-caption">Gebruikers</figcaption>
            </figure>
        </div>
        @foreach (Category cat in _categories)
        {
            <div class="col-6 col-md-4 col-lg-3">

                <figure class="figure">
                        <img @onclick="@(() => GetProductList(@cat.Id))" onerror="this.src='/images/categories/default.jpg'" class="img-fluid border rounded" src=@($"https://vgdstockmanagement.blob.core.windows.net/categories/category{cat.Id}") />
                <figcaption class="figure-caption">@cat.CategoryName</figcaption>
                </figure>
            </div>
        }

    }
</div>
@if  (_dBError)
{
    <p class="text-danger">Fout bij het inladen van de data. Herlaad de pagina.</p>
}

@code {

}
