@inherits OverviewBase

@page "/"
@page "/overzicht"

@using StockManagement.Domain

<h3>Overzicht</h3>

<div class="row">
    <div class="col-2 col-md-1">
        <a href="/gebruikers" class="btn btn-info btn-outline"><i class="oi oi-person"></i></a>
    </div>
    <div class="col-10 col-md-11">
        @if (_categories != null)
        {
            <div class="list-group">
                @foreach (var cat in _categories)
                {
                    <a href="/productlijst/@(cat.Id)" class="list-group-item list-group-item-action">
                        @cat.CategoryName
                    </a>
                }
            </div>
        }
        else
        {
            <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
        }
    </div>
</div>
