@inherits UserListBase

@page "/gebruikers"

@using StockManagement.Domain


<h3>Gebruikers</h3>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Email</th>
            <th>Voornaam</th>
            <th>Familienaam</th>
            <th>Rol</th>
            <th></th>
        </tr>
    </thead>

    @if (_users != null)
    {
        @foreach (ADUser user in _users)
        {
            <tr>
                <td>@user.Mail</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.OfficeRole</td>
                <td><button class="btn btn-primary" @onclick="(() => GetUser(user.Id))"><i class="oi oi-magnifying-glass"></i></button></td>
            </tr>
        }
    }

</table>

@code {


}
