@inherits UserDetailBase

@page "/gebruiker/{id}"
@using StockManagement.Domain
<div class="mb-2">
    <a href="/gebruikers" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
    <h3 class="d-inline">Gebruiker</h3>
</div>

@if (_user != null)
{
    <div class="mb-1">
        <UserComponent ADUser="_user" />
    </div>
}

<h3>Items in gebruik</h3>
@if (_items != null)
{
    @if (_items.Count != 0)
    {
        <div class="table-responsive">
            <table class="table table-sm table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>S/N</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (Item item in _items)
                    {
                        <tr @onclick="(() => NavigateToItem(item))">
                            <td>@item.SerialNumber</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <p>Geen items.</p>
    }

}
else
{
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
}
<h3>Historiek</h3>

@if (_itemusers != null)
{
    @if (_itemusers.Count != 0)
    {

    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>S/N</th>
                    <th>Tot</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ItemUser iu in _itemusers)
                {
                    <tr @onclick="(() => RowExpand(iu))">
                        <td>@iu.Item.SerialNumber</td>
                        <td class="w-50">@(iu.ToDate?.ToString("dd/MM/yyyy"))</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    } else
    {
        <p>Geen data.</p>
    }
}
else
{
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
}


