@inherits UserDetailBase

@page "/gebruiker/{id}"
@using StockManagement.Domain
<a href="/gebruikers" class="btn btn-outline-info"><i class="oi oi-arrow-thick-left"></i></a>
<h3 class="d-inline">Gebruiker</h3>

@if (_user != null)
{
    <UserComponent ADUser="_user"/>
}

<h3>Items in gebruik</h3>

<table class="table table-sm table-responsive table-responsive-sm">
    <thead class="thead-dark">
        <tr>
            <th>S/N</th>
            <th>P/N</th>
            <th>Omschrijving</th>
            <th>Van</th>
        </tr>
    </thead>
    <tbody>
        @if (_items != null)
        {
            @foreach (Item item in _items)
            {
                <tr>
                    <td>@item.SerialNumber</td>
                    <td>@item.Product.ProductNumber</td>
                    <td>@item.Product.Description</td>
                </tr>
            }

        }
    </tbody>
</table>

<h3>Historiek</h3>
<div class="container">
    @if (_itemusers != null)
    {
        <div class="row">
            @foreach (ItemUser iu in _itemusers)
            {
                <div class="col-md-4 mb-2">
                    <ItemHistoryComponent ItemUser=iu />
                </div>
            }
        </div>

    }

</div>
