@page "/"

<h1>Login</h1>

<form method="post">
    <p>
        Login:
        <input type="text" />
    </p>
    <p>
        Wachtwoord:
        <input type="password" />
    </p>
    <input type="submit" value="Login" />
</form>