@page "/overzicht"
@using StockManagement.Domain
@using StockManagement.Domain.IRepositories
@inject IItemRepository Repository
@inject NavigationManager NavigationManager
<h3>Overzicht</h3>

<div class="row">
    @if (_categories != null)
    {
    <div class="col col-sm-6 col-md-4 col-lg-3">
        <figure class="figure">
            <img @onclick="@(() => GetUsers())" class="img-fluid border rounded" src="/images/categories/users.jpg" />
            <figcaption class="figure-caption">Gebruikers</figcaption>
        </figure>
    </div>
        @foreach (Category cat in _categories)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                <figure class="figure">
                    <img @onclick="@(() => GetProductList(@cat.Id))" class="img-fluid border rounded" src="/images/categories/@(cat.Id).jpg" />
                    <figcaption class="figure-caption">@cat.CategoryName</figcaption>
                </figure>
            </div>
        }

    }
</div>

@code {
    private IList<Category> _categories;

    protected override async Task OnInitializedAsync()
    {
        _categories = await Repository.GetAll<Category>();
    }

    private void GetProductList(int id)
    {
        NavigationManager.NavigateTo("/productlijst/" + id);
    }

    private void GetUsers()
    {
        NavigationManager.NavigateTo("/gebruikers");
    }
}
