@page "/updatesucces"
<h3>UpdateSucces</h3>

<h1>De lijst is geüpdate</h1>
<p>Dit product heeft nog x aantal stuks</p>
<button>Item toevoegen</button>
<button>Terug naar hooftmenu</button>

@code {

}
